<?xml version="1.0"?>

<launch>
  <!-- Load camera configuration for the UI nodes and nodelets -->
  <rosparam command="load" file="$(find thor_mang_ocs)/config/thor_mang_camera_topics.yaml" />
  
  <!-- Load hand configuration for the UI nodes and nodelets -->
  <rosparam command="load" file="$(find thor_mang_ocs)/config/thor_mang_hand_parameters.yaml" />

  <!-- these are the arguments you can pass this launch file, for example paused:=true -->
  <arg name="robot_name" default="thormang3" />
  <arg name="use_hands" default="false" />

  <include file="$(find thor_mang_moveit_config)/launch/planning_context.launch">
    <arg name="load_robot_description" value="true"  />
    <arg name="robot_name" value="$(arg robot_name)" />
    <arg name="use_hands"  value="$(arg use_hands)"  />
  </include>
</launch>
