<?xml version="1.0"?>

<launch>
  
  <!--Relay stills to images displayed in OCS-->
  <node name="relay_left_image_still" pkg="topic_tools" type="relay" args="/head_cam_full_still/image_raw /head_cam_full/image_raw"/>
  <node name="relay_left_camera_info_still" pkg="topic_tools" type="relay" args="/head_cam_full_still/camera_info /head_cam_full/camera_info"/>
  
  <!--Relay ROI stills to images displayed in OCS-->
  <node name="relay_cropped_left_image_still" pkg="topic_tools" type="relay" args="/head_cam_cropped_still/image_raw /head_cam_cropped/image_raw"/>
  <node name="relay_cropped_left_camera_info_still" pkg="topic_tools" type="relay" args="/head_cam_cropped_still/camera_info /head_cam_cropped/camera_info"/>
  
  <!--Relay video to images displayed in OCS-->
  <node name="relay_left_image_video" pkg="topic_tools" type="relay" args="/head_cam_full_video/image_raw /head_cam_full/image_raw"/>
  <node name="relay_left_camera_info_video" pkg="topic_tools" type="relay" args="/head_cam_full_video/camera_info /head_cam_full/camera_info"/>
  
  <!--Relay video to images displayed in OCS-->
  <node name="relay_cropped_left_image_video" pkg="topic_tools" type="relay" args="/head_cam_cropped_video/image_raw /head_cam_cropped/image_raw"/>
  <node name="relay_cropped_left_camera_info_video" pkg="topic_tools" type="relay" args="/head_cam_cropped_video/camera_info /head_cam_cropped/camera_info"/>

</launch>

