<?xml version="1.0"?>

<launch>
  <!-- Provide option to set namespace from outside -->
  <arg name="namespace" default="/thor_mang"/>

  <group ns="$(arg namespace)">
    <!-- start robot state publisher -->
    <include file="$(find thor_mang_tud_description)/launch/real_robot.launch">
      <arg name="namespace" value="$(arg namespace)" />
    </include>

    <!-- start controllers -->
    <include file="$(find thor_mang_ros_control)/launch/$(optenv THOR_ROBOT_TYPE thor_mang)_ros_controller.launch">
      <arg name="namespace" value="$(arg namespace)" />
    </include>
  </group>
</launch>

