<?xml version="1.0"?>

<launch>
  <arg name="namespace" default="/thor_mang"/>

  <!-- start perception -->
  <include file="$(find thor_mang_onboard_launch)/launch/thor_computers/perception.launch"/>

  <!-- start head control -->
  <include file="$(find vigir_head_control)/launch/head_control_node.launch"/>

  <!-- start manipulation controller -->
  <include file="$(find thor_mang_onboard_launch)/launch/manipulation_controllers.launch"/>

  <!-- start footstep planner -->
  <include file="$(find thor_mang_footstep_planner)/launch/thor_mang_footstep_planner.launch"/>
  <!-- Start onboard footstep manager -->
  <include file="$(find vigir_onboard_footstep_manager)/launch/vigir_footstep_manager_thor.launch"/>
</launch>
