<?xml version="1.0"?>

<launch>

  <arg name="namespace" default="/thor_mang"/>

  <!-- start perception -->
  <include file="$(find thor_mang_onboard_launch)/launch/thor_computers/perception.launch"/>

  <!-- start control mode switcher -->
  <include file="$(find thor_mang_control_mode_switcher)/launch/control_mode_switcher_robot.launch"/>

  <!-- start behavior engine -->
  <include file="$(find vigir_be_launch)/launch/behavior_onboard_thor.launch"/>

  <!-- start auto-logger -->
  <include file="$(find thor_mang_logger)/launch/default_logger.launch"/>

  <!-- start footstep planner -->
  <include file="$(find thor_mang_footstep_planner)/launch/thor_mang_footstep_planner.launch"/>
  <!-- Start onboard footstep manager -->
  <include file="$(find vigir_onboard_footstep_manager)/launch/vigir_footstep_manager.launch"/>

  <!-- start drake -->
  <include file="$(find vigir_drake_launch)/launch/vigir_drake_matlab.launch"/>

</launch>

