<?xml version="1.0"?>

<launch>

  <!-- start perception -->
  <include file="$(find thor_mang_onboard_launch)/launch/thor_computers/perception.launch"/>

  <!-- start control mode switcher -->
  <include file="$(find thor_mang_control_mode_switcher)/launch/control_mode_switcher.launch"/>

  <!-- start behavior engine -->
  <include file="$(find vigir_be_launch)/launch/behavior_onboard_thor.launch"/>

  <!-- start auto-logger -->
  <!-- TODO -->

</launch>

