<?xml version="1.0"?>

<launch>

  <!-- start sensor drivers -->
  <include file="$(find thor_mang_onboard_launch)/launch/chest_lidar.launch" />
  <include file="$(find thor_mang_onboard_launch)/launch/head_lidar.launch" />
  <include file="$(find thor_mang_onboard_launch)/launch/head_camera.launch" />

  <!-- start onboard software -->
  <include file="$(find thor_mang_onboard_launch)/launch/perception_common.launch"/>
  <include file="$(find vigir_point_cloud_proc)/launch/vigir_worldmodel.launch"/>

</launch>

