<?xml version="1.0"?>

<launch>
  
<rosparam file = "$(find vigir_template_library)/object_templates/object_templates.xml"
            ns   = "ot_library"/>

<rosparam file = "$(find vigir_template_library)/robot_poses/thor_mang_stand_poses.xml"
          ns   = "stand_poses_library"/>

<rosparam file = "$(find vigir_template_library)/grasp_templates/$(optenv RIGHT_HAND_TYPE r_stump)_grasp_library.xml"
          ns   = "r_hand_library"/>

<rosparam file = "$(find vigir_template_library)/grasp_templates/$(optenv LEFT_HAND_TYPE l_stump)_grasp_library.xml"
          ns   = "l_hand_library"/>

<include  file = "$(find vigir_manipulation_controller)/launch/$(optenv RIGHT_HAND_TYPE r_stump)_manipulation_control.launch" />
<include  file = "$(find vigir_manipulation_controller)/launch/$(optenv LEFT_HAND_TYPE  l_stump)_manipulation_control.launch"/>

 <rosparam command="load" file="$(find thor_mang_ui_launch)/config/thor_mang_hand_parameters.yaml" />

<node name="vigir_onboard_template_nodelet" pkg="vigir_ocs_template_nodelet" type="template_nodelet" respawn="true"> <!--output="screen" launch-prefix="xterm -e gdb " > -->
        <remap from="/template/template_match_feedback" to="/grasp_control/template_selection" />
        <param name="master_mode" type="bool" value="false" /> <!--     Server mode "SLAVE"-->
    </node>
  
</launch>
