<?xml version="1.0"?>

<launch>
  
<rosparam file = "$(find vigir_template_library)/robot_poses/$(optenv THOR_ROBOT_TYPE thor_mang_hands)_stand_poses.xml"
          ns   = "stand_poses_library"/>

<rosparam file = "$(find vigir_template_library)/grasp_templates/$(optenv THOR_RIGHT_HAND_TYPE r_stump)_grasp_library.xml"
          ns   = "r_hand_library"/>

<rosparam file = "$(find vigir_template_library)/grasp_templates/$(optenv THOR_LEFT_HAND_TYPE l_stump)_grasp_library.xml"
          ns   = "l_hand_library"/>

<include  file = "$(find vigir_manipulation_controller)/launch/$(optenv THOR_RIGHT_HAND_TYPE r_stump)_manipulation_control.launch" />
<include  file = "$(find vigir_manipulation_controller)/launch/$(optenv THOR_LEFT_HAND_TYPE  l_stump)_manipulation_control.launch"/>
  
</launch>
