<?xml version="1.0"?>

<launch>
  
  <!--  
  <node pkg="flor_moveit_ocs_model" type="moveit_ocs_model_node" name="moveit_ocs_model_node" respawn="true" >
    <rosparam command="load" file="$(find vigir_atlas_moveit_config)/config/kinematics.yaml"/>
  </node>
  -->

  <node pkg="vigir_ocs_robot_model" type="moveit_ocs_model_node" name="moveit_ocs_model_node" respawn="true" >
    <rosparam command="load" file="$(find thor_mang_moveit_config)/config/kinematics.yaml"/>
    <param name="pelvis_frame" value="pelvis_link"/>
    <remap from="/atlas/joint_states" to="/johnny5/joints/joint_states" />
  </node>

</launch>
