<?xml version="1.0"?>

<launch>
  
  <node pkg="urg_node" type="urg_node" name="chest_urg_node" output="screen">
    <rosparam>
      publish_intensity: true
      angle_min: -2.2689 
      angle_max: 2.2689 
      cluster: 1
      skip: 0
      ip_address: 10.25.3.12
      ip_port: 10940
      frame_id: waist_hokuyo_laser_frame
      calibrate_time: true
      time_offset: 0.0
      publish_multiecho: false
    </rosparam>
    <remap from="scan" to="/chest_lidar/scan"/>
  </node>
    
</launch>

