<?xml version="1.0"?>

<launch>
  <node pkg="tf" type="static_transform_publisher" name="map_to_world" args="0 0 0 0 0 0 world map 100" />
  <include file="$(find thor_mang_moveit_config)/launch/move_group.launch" />
  
  <node name="plan_to_action_node" pkg="vigir_plan_to_action" type="plan_to_action_node" respawn="true" output="screen" > <!-- output="screen" -->
  
    <!--Trajectory command topics-->
    <remap from="l_arm_trajectory" to="/flor/l_arm_controller/trajectory" />
    <remap from="r_arm_trajectory" to="/flor/r_arm_controller/trajectory" />
    <remap from="torso_trajectory" to="/flor/torso_controller/trajectory" />
    <remap from="neck_trajectory" to="/flor/neck_controller/trajectory" />
  
    <!--Incoming requests-->
    <remap from="plan_request" to="/flor/planning/upper_body/plan_request" />
    <remap from="plan_joint_request" to="/flor/planning/upper_body/plan_joint_request" />
    <remap from="plan_circular_request" to="/flor/planning/upper_body/plan_circular_request" />
    <remap from="plan_cartesian_request" to="/flor/planning/upper_body/plan_cartesian_request" />
  
    <!--Execute incoming plans-->
    <remap from="execute_trajectory" to="/flor/planning/upper_body/execute_trajectory" />
  
    <remap from="refine_l_arm_trajectory" to="/flor/planning/l_arm/refine_trajectory" />
    <remap from="refine_r_arm_trajectory" to="/flor/planning/r_arm/refine_trajectory" />
    <remap from="refine_torso_trajectory" to="/flor/planning/torso/refine_trajectory" />
    <remap from="refine_neck_trajectory" to="/flor/planning/neck/refine_trajectory" />
  
    <remap from="plan_status" to="flor/planning/upper_body/status" />
  
    <!--Status feedback for grasping-->
    <remap from="l_grasp_plan_request" to="/grasp_control/l_hand/plan_request" />
    <remap from="r_grasp_plan_request" to="/grasp_control/r_hand/plan_request" />
    <remap from="l_grasp_status" to="/grasp_planning/l_hand/status" />
    <remap from="r_grasp_status" to="/grasp_planning/r_hand/status" />
    
    <remap from="get_plan" to="/plan_for_grasp" />
    <remap from="get_plan_joints" to="/plan_for_joint_state" />
    <remap from="get_plan_circular" to="/plan_for_circular_motion" />
    <remap from="get_plan_cartesian" to="/plan_for_cartesian_waypoint_motion" />
</node>

</launch>
