<?xml version="1.0"?>

<launch>
  <!-- Provide option to set namespace from outside -->
  <arg name="namespace" default="thormang3"/>
  <arg name="gazebo"    default="false" />
  
  <!-- Start bag auto logger -->
  <include file="$(find thor_mang_logger)/launch/default_logger.launch"/>
  
  <!-- Load wrist link parameters -->
  <rosparam command="load" file="$(find thor_mang_moveit_config)/config/hand_parameters.yaml" />

  <!-- Load manipulation controllers -->
  <include file="$(find thor_mang_onboard_launch)/launch/manipulation_controllers.launch"/>

  <!-- Start biped state estimation-->
  <include file="$(find thor_mang_onboard_launch)/launch/biped_state_estimation.launch" />

  <!-- Start MoveIt! software -->
  <include file="$(find thor_mang_onboard_launch)/launch/moveit_planning.launch" />
  
  <!-- Start Multisensor Head -->
  <include file="$(find thor_mang_onboard_launch)/launch/multisensor_head.launch" >
    <arg name="gazebo" value="$(arg gazebo)" />
  </include>
  
  <!-- Start Worldmodel server -->
  <include file="$(find thor_mang_onboard_launch)/launch/worldmodel.launch"/>

</launch>
