<?xml version="1.0"?>

<launch>
  
  <!--Start nodelet manager that will contain all crop_decimate nodelets-->
  <node pkg="nodelet" type="nodelet" name="crop_decimate_nodelet_manager"  args="manager" respawn="true" />
  
  <!--Head-->
  <!-- Add nodelet intended for full image decimation-->
  <node pkg="nodelet" type="nodelet" name="l_image_full_decimate" respawn="true"
        args="load vigir_crop_decimate_nodelet/CropDecimateNodelet crop_decimate_nodelet_manager">
    <remap from="camera" to="head_cam" />
    <remap from="camera_out" to="head_image_full" />
    <remap from="camera_out_still" to="head_image_full_still" />
    <remap from="camera_out_video" to="head_image_full_video" />
    <param name="input_topic_in_camera_namespace" value="image_raw" />
  </node>-->
  <!--Add nodelet intended for region of interest image crop/decimation-->
  <node pkg="nodelet" type="nodelet" name="l_image_crop_decimate" respawn="true"
        args="load vigir_crop_decimate_nodelet/CropDecimateNodelet crop_decimate_nodelet_manager">
    <remap from="camera" to="multisense/left/" />
    <remap from="camera_out" to="head_image_cropped" />
    <remap from="camera_out_still" to="head_image_cropped_still" />
    <remap from="camera_out_video" to="head_image_cropped_video" />
    <param name="input_topic_in_camera_namespace" value="image_raw" />
  </node>
   
</launch>

