<?xml version="1.0"?>

<launch>
  <!-- Provide option to set namespace from outside -->
  <arg name="namespace" default="/thor_mang"/>
  <!--arg name="moveit_config_package" default="thor_mang_moveit_config" /-->
  
  <!-- Load wrist link parameters -->
  <rosparam command="load" file="$(find thor_mang_moveit_config)/config/hand_parameters.yaml" />

  <!-- Load manipulation controllers -->
  <include file="$(find thor_mang_onboard_launch)/launch/manipulation_controllers.launch"/>

  <!-- Start biped state estimation-->
  <include file="$(find thor_mang_onboard_launch)/launch/biped_state_estimation.launch" />

  <!-- start onboard software -->
  <include file="$(find thor_mang_onboard_launch)/launch/moveit_planning.launch" />
  
  <!-- Start head control-->
  <include file="$(find vigir_head_control)/launch/head_control_node.launch">
    <remap from="/thormang/head_traj_controller/command" to="/johnny5/joints/head_traj_controller/command" />
    <param name="head_traj_namespace" value="/johnny5/joints" />
  </include>

  <node pkg="topic_tools" type="relay" name="relay_head_joints" args="/thormang/head_traj_controller/command /johnny5/joints/head_traj_controller/command" />

  <!--node pkg="vigir_simple_joint_pan" type="simple_joint_pan_node.py" name="waist_simple_joint_pan_node" /-->
  
  <include file="$(find thor_mang_onboard_launch)/launch/worldmodel.launch"/>

  <node name="state_estimator" pkg="biped_state_estimator" type="state_estimator_test" output="screen" ns="/thor_mang"> 
    <remap from="/thor_mang/pelvis_imu" to="/johnny5/sensor/imu/filtered"/>
    <remap from="/joint_states"         to="/johnny5/joints/joint_states"/>
    <param name="pelvis_name"           value="pelvis_link"/>
    <param name="right_foot_name"       value="r_leg_foot_link"/>
    <param name="left_foot_name"        value="l_leg_foot_link"/>
  </node>
 
</launch>

