<?xml version="1.0"?>

<launch>
  <arg name="robot_name"  default="johnny5" />
  <arg name="use_hands"   default="$(optenv USE_HANDS false)" />
  <arg name="pinned"      default="False" />

  <group ns="$(arg robot_name)">
    <node pkg="tf" type="static_transform_publisher" name="map_to_world" args="0 0 0 0 0 0 world map 100" />

    <include file="$(find thor_mang_moveit_config)/launch/move_group.launch" />
  </group>
</launch>

