<?xml version="1.0"?>

<launch>
  <!-- Provide option to set namespace from outside -->
  <arg name="namespace" default="/thor_mang"/>

  <!-- start slam -->
  <!--<group ns="$(arg namespace)">
    <include file="$(find thor_mang_onboard_launch)/launch/hector_slam.launch" />
    <include file="$(find thor_mang_onboard_launch)/launch/state_estimation.launch" />
  </group> -->
 
  <!-- Start biped state estimation-->
  <include file="$(find thor_mang_onboard_launch)/launch/biped_state_estimation.launch" />

  <!-- start onboard software -->
  <include file="$(find thor_mang_onboard_launch)/launch/manipulation_controllers.launch"/>

  <include file="$(find thor_mang_onboard_launch)/launch/moveit_planning.launch" />
  
  <node pkg="vigir_simple_joint_pan" type="simple_joint_pan_node.py" name="waist_simple_joint_pan_node" />
  
  <include file="$(find thor_mang_onboard_launch)/launch/worldmodel.launch"/>
  
  <include file="$(find thor_mang_onboard_launch)/launch/onboard_crop_decimate_nodelets.launch"/>

  <node pkg="topic_tools" type="relay" name="relay_robot_pose" args="/thor_mang/state_estimatorelvis_pose /flor/controller/atlas_pose" />

   <!--Commented out as we use the self filtering inside MoveIt -->
   <!--<include file="$(find thor_mang_onboard_launch)/launch/chest_lidar_proc.launch"/>-->  
 
</launch>

