<?xml version="1.0" ?>
<launch>
  <!-- these are the arguments you can pass this launch file, for example paused:=true -->
  <arg name="robot_name" default="thormang3" />
  <arg name="l_hand_type" default="$(optenv L_HAND_TYPE none)" />
  <arg name="r_hand_type" default="$(optenv R_HAND_TYPE none)" />
  <arg name="use_present" default="true" />

  <arg name="gazebo" default="false" />
  <arg name="pinned" default="false" />
  <arg name="ground_truth" default="false" />

  <!-- robot model -->
  <include file="$(find thormang3_description)/launch/load_robot_description.launch">
    <arg name="robot_name" value="$(arg robot_name)" />
    <arg name="l_hand_type" value="$(arg l_hand_type)" />
    <arg name="r_hand_type" value="$(arg r_hand_type)" />
    <arg name="pinned" value="$(arg pinned)" />
  </include>
  
  <!-- joint values -->
  <remap from="joint_states" to="joints/joint_states" />

  <node name="rh_joint_state_publisher" pkg="rh_p12_rn_tools" type="rh_joint_state_pub_node" if="$(eval arg('l_hand_type') == 'rh_p12_rn' or arg('r_hand_type') == 'rh_p12_rn')">
    <param name="target" value="robotis/joints/present_joint_states" if="$(arg use_present)" />
    <param name="target" value="robotis/joints/goal_joint_states" unless="$(arg use_present)" />
  </node>

  <node name="robotis_joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher">
    <param name="use_gui" value="false" />
    <param name="rate" value="125" />
    <rosparam param="source_list" if="$(arg use_present)">["robotis/joints/present_joint_states"]</rosparam>
    <rosparam param="source_list" unless="$(arg use_present)">["robotis/joints/goal_joint_states"]</rosparam>
  </node>

  <!-- combine joint values to TF-->
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher" />

  <!-- start Control Mode Switcher -->
  <include file="$(find thor_mang_control_mode_switcher)/launch/control_mode_switcher.launch" />

  <!-- start Biped State Estimation-->
  <include file="$(find thor_mang_onboard_launch)/launch/biped_state_estimation.launch" unless="$(arg ground_truth)" />
</launch>
