<?xml version="1.0" ?>
<launch>
  <!-- executing this here to be separated from second parameter load -->
  <include file="$(find thor_vt_hand_ros_control)/launch/l_vt_hand_sim_trajectory_controllers.launch" ns="joints" if="$(arg use_hands)" />

  <!-- these are the arguments you can pass this launch file, for example paused:=true -->
  <arg name="robot_name" default="thormang3" />
  <arg name="use_hands" default="$(optenv USE_HANDS false)" />
  <arg name="use_present" default="true" />

  <arg name="gazebo" default="false" />
  <arg name="pinned" default="false" />
  <arg name="ground_truth" default="false" />

  <!-- robot model -->
  <include file="$(find thormang3_description)/launch/load_robot_description.launch">
    <arg name="robot_name" value="$(arg robot_name)" />
    <arg name="use_hands" value="$(arg use_hands)" />
    <arg name="pinned" value="$(arg pinned)" />
  </include>
  
  <!-- joint values -->
  <remap from="joint_states" to="joints/joint_states" />

  <node name="robotis_joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher">
    <param name="use_gui" value="false"/>
    <param name="rate" value="125"/>
    <rosparam param="source_list" if="$(arg use_present)">["robotis/joints/present_joint_states"]</rosparam>
    <rosparam param="source_list" unless="$(arg use_present)">["robotis/joints/goal_joint_states"]</rosparam>
  </node>

  <!-- combine joint values to TF-->
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher" />

  <!-- walk control module -->
  <include file="$(find thormang3_step_control_module)/launch/load_step_controller.launch" />

  <!-- ros control module -->
  <include file="$(find thormang3_ros_control_module)/launch/load_trajectory_controllers.launch" />

  <!-- start Control Mode Switcher -->
  <include file="$(find thor_mang_control_mode_switcher)/launch/control_mode_switcher.launch" />

  <!-- start Biped State Estimation-->
  <include file="$(find thor_mang_onboard_launch)/launch/biped_state_estimation.launch" unless="$(arg ground_truth)" />

  <!-- executing this here to be separated from first parameter load -->
  <include file="$(find thor_vt_hand_ros_control)/launch/r_vt_hand_sim_trajectory_controllers.launch" ns="joints" if="$(arg use_hands)" />
</launch>
