<?xml version="1.0" ?>
<launch>
  <arg name="position_controller" default="true"/>

  <!-- these are the arguments you can pass this launch file, for example paused:=true -->
  <arg name="use_imu" default="true" />
  <arg name="use_lidar" default="true" />
  <arg name="gazebo" default="false" />
  <arg name="pinned" default="false"/>

  <!-- Load the URDF into the ROS Parameter Server -->
  <param name="robot_description"
	 command="$(find xacro)/xacro.py '$(find thormang3_description)/urdf/thormang3.xacro' pinned:=$(arg pinned)" />

  <!-- ros_control robotis humanoid launch file -->
  <group if ="$(arg position_controller)">
  	<include file="$(find thormang3_gazebo)/launch/position_controller.launch" />
  </group>
  
  <!-- THORMANG3 Manager -->
  <include file="$(find thormang3_manager)/launch/thormang3_manager.launch">
    <arg name="use_imu" value="$(arg use_imu)"/>
    <arg name="use_lidar" value="$(arg use_lidar)" />
    <arg name="gazebo" value="$(arg gazebo)" />
  </include>
</launch>
