<?xml version="1.0"?>

<launch>

  <!--<group ns="$(arg namespace)">-->
  <node pkg="tf" type="static_transform_publisher" name="static_pub_footprint_to_pelvis" args="0 0 0.79 0 0 0 footprint_rotated pelvis 100"/>
  <!--<node pkg="tf" type="static_transform_publisher" name="static_pub_footpringt_to_pelvis" args="0 0 0.0 0 0 0 /footprint /pelvis 100"/>-->
    
  <node pkg="message_to_tf" type="message_to_tf" name="imu_to_tf" output="screen">
    <!--<param name="frame_id" value="base_footprint" />-->
    <!--<param name="footprint_frame_id" value="base_footprint2" />-->
    <param name="stabilized_frame_id" value="footprint_stabilized" />
    <param name="child_frame_id" value="footprint_rotated" />
    <param name="topic" value="/thor_mang/pelvis_imu" />
    <!--<param name="tf_prefix" value="ground_truth" />-->
  </node>
  
</launch>