<?xml version="1.0"?>

<launch>

  <node name="relay_controller_status"            pkg="topic_tools" type="relay"  args="/flor/controller/status             /flor_robot_status" respawn="true" />
  <node name="relay_grasp_planning_r_hand_status" pkg="topic_tools" type="relay"  args="/grasp_planning/r_hand/status       /flor_robot_status" respawn="true" />
  <node name="relay_grasp_planning_l_hand_status" pkg="topic_tools" type="relay"  args="/grasp_planning/l_hand/status       /flor_robot_status" respawn="true" />
  <node name="relay_grasp_control_r_hand_status"  pkg="topic_tools" type="relay"  args="/grasp_control/r_hand/grasp_status  /flor_robot_status" respawn="true" />
  <node name="relay_grasp_control_l_hand_status"  pkg="topic_tools" type="relay"  args="/grasp_control/l_hand/grasp_status  /flor_robot_status" respawn="true" />
  <node name="relay_footstep_planner_status"      pkg="topic_tools" type="relay"  args="/flor/footstep_planner/status       /flor_robot_status" respawn="true" />
  <node name="relay_motion_service_status"        pkg="topic_tools" type="relay"  args="/flor/motion_service/status         /flor_robot_status" respawn="true" />
  <node name="relay_behavior_status"              pkg="topic_tools" type="relay"  args="/flor/behavior/status               /flor_robot_status" respawn="true" />
  <node name="relay_moveit_planner_status"        pkg="topic_tools" type="relay"  args="/flor/planning/upper_body/status    /flor_robot_status" respawn="true" />
  <node name="bridge_status"                      pkg="topic_tools" type="relay"  args="/flor/comms_bridge_status           /flor_robot_status" respawn="true" />

</launch>

