<?xml version="1.0"?>

<launch>
  <!-- Provide option to set namespace from outside -->
  <arg name="namespace" default="/thor_mang"/>

  <!-- start slam -->
  <group ns="$(arg namespace)">
    <include file="$(find thor_mang_launch)/launch/hector_slam.launch" />
    <include file="$(find thor_mang_launch)/launch/state_estimation.launch" />
  </group>

  <include file="$(find thor_mang_tud_moveit_config)/launch/move_group.launch" />
  
  <node pkg="vigir_simple_joint_pan" type="simple_joint_pan_node.py" name="waist_simple_joint_pan_node" />
  
  <include file="$(find thor_mang_launch)/launch/chest_lidar_proc.launch"/>

</launch>

